*.apk
*.apks
*.idsig
*.class
*.bin
*.aligned
*.signed
apks_extracted/
base_decompiled/
decompiled_*/
extracted/
final_delivery/
final_nuclear_session/
final_session_delivery/
final_signed_set/
fixed_splits/
inspect_final/
manifest_bin/
merged_replica/
new_dex/
no_talsec_split/
original_smali/
patched_dex_decompiled/
session_signed/
Splits/
standalone_source/
resources/
build/
.dart_tool/
.idea/
.vscode/

# Ignore all sources but keep the modded ones
sources/*
!sources/com/
!sources/r6/
sources/com/*
!sources/com/pairip/
sources/com/pairip/*
!sources/com/pairip/licensecheck/
sources/com/pairip/licensecheck/*
!sources/com/pairip/licensecheck/LicenseClient.java
sources/r6/*
!sources/r6/d.java
